html, body {
	/*background: #00FA9A	;  Beccapurple */
    background-image: url("/images/fabricColor.jpg");
	margin: 0;
}
h1, h2 {
	margin: 0;
	padding: 2px;
    color: black;
    text-align: center;
    
}

h2 {
    font-size: 3em;
    padding: 50px;
}
h3 {
    color: black;
}

h4 {
    color: aliceblue;
}
body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 100%;
	width: 80%;
    margin-left:auto;
    margin-right:auto;
	padding: 2.5% 2.5% 0;
	/*background: white;*/
	line-height: 1.8;
}

aside {
    background: #87AFC7;
    border-style: solid;
    margin-left: auto;
    margin-right: 50;
    width: 25em;
    border-radius:20px;
    padding:1em;
    float: right;
}

aside h4 {
    text-align:center;
}

#batteries iframe {
    display: block;
    margin: auto;
}

strong {
    color: indianred;
}

.left {
    position:absolute;
    left:0; top:0; bottom:0;
    background-image: url("/images/mainBackground.jpg");
    background-repeat: repeat-y;
    width: 178px;
}

.right {
    position:absolute;
    right:0; top:0; bottom:0;
    background-image: url("/images/mainBackground.jpg");
    background-repeat: repeat-y;
    width: 178px;
}

.badge1 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  opacity: 1;
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge2 {
  height: 250px;
  width: 250px;
  background-color: black;
  opacity: 0.2;
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;

}

.badge3 {
  height: 250px;
  width: 250px;
  background-color: black;
  opacity: 0.2;
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;

}

.badge4 {
  height: 250px;
  width: 250px;
  background-color: black;
  opacity: 0.2;
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;

}

.badge5 {
  height: 250px;
  width: 250px;
  background-color: black;
  opacity: 0.2;
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;

}

.badge5:hover, .badge4:hover, .badge3:hover, .badge3:hover, .badge2:hover, .badge1:hover {
    background-image: url("/images/badge1_hover.png");
}

span {
    margin-left: 20px;
    margin-right: 20px;
}

ul {list-style-type: none; margin: center; padding: 0; overflow: hidden; background-color: ivory;}

li {
float: left;
}

li a {
display: block;
color: saddlebrown;

text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: skyblue;
}

.box {
    width: 500px;
    margin: 100px auto;
    padding: 100px;
    border: 5px solid gray;
    border-radius: 25px;
}