html, body {
	/*background: #00FA9A	;  Beccapurple */
    /*background-image: url("/images/fabricColor.jpg");
	margin: 0;
}
h1, h2 {
	margin: 0;
	padding: 2px;
    color: black;
    text-align: center;
    
}

h2 {
    font-size: 3em;
    padding: 50px;
}
h3 {
    color: black;
}

h4 {
    color: aliceblue;
}
body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 100%;
	width: 80%;
    margin-left:auto;
    margin-right:auto;
	padding: 2.5% 2.5% 0;
	/*background: white;*/
	line-height: 1.8;
}

body {
    background-image: url("https://78.media.tumblr.com/a1417cd5298b92bfa74c87aa1ba72f9b/tumblr_otn6c5l8NA1vuqliqo1_1280.jpg");
}

aside {
    background: #87AFC7;
    border-style: solid;
    margin-left: auto;
    margin-right: 50;
    width: 25em;
    border-radius:20px;
    padding:1em;
    float: right;
}

aside h4 {
    text-align:center;
}

#batteries iframe {
    display: block;
    margin: auto;
}

strong {
    color: indianred;
}

.badge1 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  opacity: 1;
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge2 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;

}

.badge3 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;

}

.badge4 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;

}

.badge6 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge7 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge8 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge9 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge10 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge11 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge12 {
  height: 250px;
  width: 250px;
  background-image: url("/images/badge1_noHover.png");
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
}

.badge1:hover {
    background-image: url("/images/badge1_hover.png");
}

.badge2:hover {
    background-image: url("/images/badge2_hover.png");
}

.badge3:hover {
    background-image: url("/images/badge3_hover.png");
}

.badge4:hover {
    background-image: url("/images/badge4_hover.png");
}

.badge5:hover {
    background-image: url("/images/badge5_hover.png");
}

.badge6:hover {
    background-image: url("/images/badge6_hover.png");
}

.badge7:hover {
    background-image: url("/images/badge7_hover.png");
}

.badge8:hover {
    background-image: url("/images/badge8_hover.png");
}

.badge9:hover {
    background-image: url("/images/badge9_hover.png");
}

.badge10:hover {
    background-image: url("/images/badge10_hover.png");
}

.badge11:hover {
    background-image: url("/images/badge11_hover.png");
}

.badge12:hover {
    background-image: url("/images/badge12_hover.png");
}


span {
    margin-left: 20px;
    margin-right: 20px;
}

ul {list-style-type: none; margin: center; padding: 0; overflow: hidden; background-color: ivory;}

li {
float: left;
}

li a {
display: block;
color: saddlebrown;

text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: skyblue;
}

 .centered {
     padding: 100px
     text-align: center

} */

.box {
    width: 1800px;
    height: 700px;
    opacity: 0.8;
    /*background-color: rgba(255,255,255,0.0);*/
    background-color: rgba(255,255,255,0.9);
    margin: 100px auto;
    padding: 100px;
    border: 5px solid gray;
    border-radius: 25px;
}
.box:hover{
    /*background-color: rgba(255,255,255,0.9);*/
    
}
.boxIntro {
    width: 100%;
    height: 700px;
    background-image: url("http://images.gofreedownload.net/3/nature-background-leaves-grass-icons-repeating-style-sketch-208695.jpg");
      opacity: 0.8; 
    margin: 100px auto;
    background-size: cover;
    padding: 90px;
    border: 5px solid gray;
    border-radius: 25px;
}

.boxNotebook {
    width: 500px;
    height: 700px;
    background-image: url("http://journal-women.com/wp-content/uploads/2017/12/notebook-powerpoint-templates-education-green-white-free-ppt-regarding-notebook-paper-background-for-powerpoint.jpg");
      opacity: 1.0; 
    margin: 100px auto;
    background-size: cover;
    padding: 100px;
    border: 5px solid gray;
    border-radius: 25px;
}


.boxBadge {
    width: 500px;
    height: 700px;
    background-image: url("/images/fabricColor.jpg");
    /*  opacity: 0.8; */
    margin: 100px auto;
    padding: 100px;
    border: 5px solid gray;
    border-radius: 25px;
}

/*@import "http://fonts.googleapis.com/css?family=Raleway";*/
/*-----------------------------------------------------------------
CSS settings for HTML Div form1 (Dynamically Created using jQuery)
------------------------------------------------------------------*/
/*div#form1{
width:250px;
height:430px;
border:2px solid #a5a5a5;
padding:20px;
background-color:#f3f3f3;
border-radius:3px;
float:left;
text-align:center;
margin-left:100px;
margin-top:50px
}
h3,p{
text-align:center;
font-family:'Raleway',sans-serif;
color:#006400
}
input{
width:100%;
margin:10px 0;
padding:5px;
height:35px;
box-shadow:1px 1px 1px 1px gray;
border-radius:3px
}
input#submit{
width:100%;
margin:10px 15px 10px 0;
padding:5px;
background-color:#3fb8e8;
box-shadow:0 3px 0 0 #3293ba;
border-radius:3px;
color:#fff;
height:41px;
font-size:16px
}
textarea{
margin:10px 0;
padding:5px;
box-shadow:1px 1px 1px 1px gray;
border-radius:3px
}
div#container{
margin:50px auto;
width:960px
}
h2{
font-family:'Raleway',sans-serif;
color:#006400;
text-shadow:1px 1px 1px gray
}*/

.boxMap {
    width: 500px;
    height: 500px;
    /* opacity: 0.8; */
    margin: 100px auto;
    padding: 100px;
    border: 5px solid gray;
    border-radius: 25px;
}

#nav {
    overflow: hidden;
    background-color: rgb(112, 105, 100);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid orange;
}


#nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

